<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Remote Code Execution playground</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="codemirror/codemirror.css">
	<link rel="stylesheet" type="text/css" href="codemirror/theme/ayu-mirage.css">
	<script src="codemirror/codemirror.js" defer></script>
	<script src="js/index.js" defer></script>
</head>
<body>
	<div class="container">
		<h1>Javascript Code Playground</h1>
		<textarea name="editor" id="editor"></textarea>
		<br>
		<button class="run-btn">Run</button>
		<br>
		<h2>Output</h2>
		<div class="output">
			
		</div>
	</div>
</body>
</html>